<% if logged_in?() %>

    <div class="top_bar">
        <ul>
            <li><a href="/">Home</a></li>
            <li id="dash_about" ><a href="/dashboard">Dashboard</a></li>
        </ul>
    </div>

<% else %>
    <div class="top_bar">
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </div>  
<% end %>


<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam earum est fuga expedita impedit iste quibusdam, minima, illo repellendus, veniam asperiores distinctio quasi quam dolores ratione molestias blanditiis quaerat suscipit.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Est sequi molestias quae dolore mollitia voluptatum non. Ipsum dolorum sit, aliquid quis non obcaecati soluta necessitatibus reiciendis, nobis reprehenderit repellendus culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero maiores eaque incidunt itaque! Harum esse neque minima eum quasi. Nemo, velit animi explicabo dolore optio corporis adipisci? Est, quia aliquam.</p>