<h1>Shenanigans</h1>

<% if logged_in?() %>

    <h3>Welcome! <%= current_user()['firs_name'] %></h3>

    <section class="events">

        <form class="event" action="">
            <h2 class="event_name">3 Dimensions</h2>
            <img class="cover" src="https://i.imgur.com/eRZPETv.jpg" title="source: imgur.com" />
            <button>Add to profile</button>   
        </form>

        <form class="event" action="">
            <h2 class="event_name">Dragon Dreaming</h2>
            <img class="cover" src="https://i.imgur.com/Rvu8ROM.jpg" title="source: imgur.com" />
            <button>Add to profile</button>   
        </form>

        <form class="event" action="">
            <h2 class="event_name">We Love</h2>
            <img class="cover" src="https://i.imgur.com/vE6IlDP.jpg" title="source: imgur.com" />
            <button>Add to profile</button>   
        </form>

        <form class="event" action="">
            <h2 class="event_name">VOYAGE</h2>
            <img class="cover" src="https://i.imgur.com/cnfXmpH.jpg" title="source: imgur.com" />
            <button>Add to profile</button>   
        </form>

    </section>

<% else %>      

    <h3> <a id="signup" href="new_user"> Sign Up </a>and  <a href="user_login" id="login"> Log in </a>to View the Upcoming Events in Sydney...</h3>    

<% end %>

