<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Montserrat:ital,wght@1,300&family=Poiret+One&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Bad+Script&family=Lobster+Two:ital@1&family=Montserrat:ital,wght@1,300&family=Poiret+One&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Amita&family=Bad+Script&family=Lobster+Two:ital@1&family=Montserrat:ital,wght@1,300&family=Poiret+One&display=swap" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>
<body>

  <%= yield %>

</body>
</html>
