
<form class="login_form" action="/sessions" method="POST">

    <label for="">Email: </label>
    <input type="text" name="email">

    <label for="">Password:</label>
    <input type="text" name="password">

    <button id="login_button">Login</button>

</form>