
<form class="login_form" action="/sessions/new" method="POST">

    <label for="">Email: </label>
    <input type="text" name="email">

    <label for="">Password:</label>
    <input type="text" name="password">

    <label for="">Confirm Password:</label>
    <input type="text" name="confirm_password">

    <button id="login_button">Login</button>

</form>